body {
    font-family: arial;
    margin:0;
    
} 
h1 {
    border-bottom:1px solid #ccc;
    width:60%;
    margin-top:0;
    font-size:2.0em;
}
h1,h2,h3 {
    font-weight:normal;
}
h2{
    margin-bottom:5px;
}
textarea {
    resize: none;
}
#header {
    background-color:#CCC;
    color:black;
    border-bottom:3px solid #058;
    text-align:center;
    position: fixed;
    width: 100%;
    z-index:1001;
}
#header-title {
    padding:10px;
    font-size: 1.8em;
    display: inline-block;
}
#header-title:hover {
    color:white;
}
#navigation, #content {
    display: inline-block;
    padding:10px 0 0 10px;
}
#navigation {
    width:150px;
    float:left;
}
#content {
    border-left:1px solid #DDD;
    vertical-align: top;
    width:80%;
}
#content table {
    overflow-x: auto;
}
#content-bottom {
    margin-top: 50px;
}
#navigation-title {
    font-size: 1.5em;
    border-bottom: 1px solid #DDD;
}
#wrapper {
    position: relative;
    top: 60px;
    min-width: 1250px;
}
ul {
    padding-left:0;
}
#navigation li {
    list-style:none;
}
#navigation a {
    text-decoration:none;
    color:black;
}
#navigation a:hover {
    
    //font-weight:bold;
    //color:#058;
}

table,tr,td,th{
    border-collapse:collapse;
    text-align:center;
}
table th{
    padding:5px 10px 0 10px;
    border-bottom: 1px solid #CCC;
}
th { 
    min-width: 125px;
}
a {
    text-decoration-color: black;
}
a:hover,a:visited:hover {
    //color:#058;
}
a:visited {
    color:black;
}
input[type="text"] {
    border-radius: 3px;
    border:1px solid black;
    height:30px;
    font-size:1.2em;
}
label {
    font-size:1.8em;
    margin:10px 0;
}
.large{
    width:200px;
}
.medium {
    width:150px;
}
.small {
    width:100px;
}
.overflow {
    height: 200px;
}

/* Error classes for client validation */
form label.error {
color:red;
font-size: 14px;
margin: 10px;
}
form input.error {
border:1px solid red;
}