* {
	font-family:cursive;
	font-size:12px;
}

#form {
	float:center;
}

#wholeBody {
}


.background_style{
	 background: url(images/NHLakesPicture.jpg);
	 background-attachment: fixed;
	 background-repeat: no-repeat;
	 background-size : 100% 100%;
}
.userId {	
    margin-right:20em;
}
.userId:hover, .userId:focus,
.password:hover, .password:focus,
input[type=submit]:hover, input[type=submit]:focus {
    opacity: 1.0;
}

.userId, .password {
    font-size:30px;
    text-align:left;
    position:relative;
    opacity:0.8;
}

.password {
    margin-right:40em;
	
}

input[type=submit] {
    padding:5px 15px;
    background:#6595ED;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius:10px;
    border-radius:5px; 
    height:50px; 
    width:120px;
    font-size:20px;
    opacity: 0.8;
}

.err_msg {
	font-family:cursive;
	font-size:40px;
	color:red;
	position:relative;
	top=30px;
	right=30px
}

.info_msg {
	font-family:cursive;
	font-size:40px;
	color:blue;
	position:relative;
	top=30px;
	right=40px;
}